* {
  padding: 0;
  margin: 0;
  user-select: none;
}
body {
  overflow: hidden;
  background-color: rgb(36, 32, 32);
}
.hidden {
  display: none !important;
}
#gameArea {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: gray;
  overflow: hidden;
}
#choseUnits {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
}
#minimalize {
  position: absolute;
  right: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: rgba(86, 214, 214, 0.8);
  overflow: hidden;
}
#minimalize:hover {
  cursor: pointer;
  background-color: rgba(75, 184, 184, 0.8);
}
#minimalizeTxt {
  position: absolute;
  transform: translate(100%, -42%);
}
.unitClass {
  border-right: 1px solid black;
}
#startButton {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-color: brown;
}
#startButton:hover {
  cursor: pointer;
  background-color: rgb(126, 41, 41);
}
#changeTeamButton {
  position: absolute;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: rgba(86, 214, 214, 0.8);
  overflow: hidden;
  text-align: center;
}
#changeTeamButton:hover {
  cursor: pointer;
  background-color: rgba(75, 184, 184, 0.8);
}
#teamPrice {
  position: absolute;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: rgba(86, 214, 214, 0.8);
  overflow: hidden;
  text-align: center;
  border-right: 1px solid black;
}
#deleteUnit {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
  background-image: url("./images/delete_unit.png");
  background-size: 100%, 100%;
}

.price {
  position: relative;
  top: -5%;
  width: 100%;
  text-align: center;
}
#loadingScreen {
  width: 100%;
  height: 100%;
  background-color: rgb(36, 32, 32);
}
#loadingSign {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 100px;
}
#rect1 {
  overflow: visible;
  position: absolute;
  background-color: rgb(56, 85, 110);
  border: solid black 2px;
  animation: rect1Anim 5s infinite;
}
#rect2 {
  position: absolute;
  background-color: rgb(63, 138, 128);
  border: solid black 2px;
  animation: rect2Anim 3s infinite;
}
@keyframes rect1Anim {
  0% {
    left: 10%;
    top: 20%;
    width: 10%;
    height: 20%;
    transform: rotate(0deg);
  }
  50% {
    left: 60%;
    top: 60%;
    width: 30%;
    height: 10%;
    transform: rotate(10deg);
  }
  100% {
    left: 10%;
    top: 20%;
    width: 10%;
    height: 20%;
    transform: rotate(0deg);
  }
}
@keyframes rect2Anim {
  0% {
    left: 10%;
    top: 20%;
    width: 10%;
    height: 20%;
    transform: rotate(0deg);
  }
  50% {
    left: 60%;
    top: 60%;
    width: 80%;
    height: 70%;
    transform: rotate(-210deg);
  }
  100% {
    left: 10%;
    top: 20%;
    width: 10%;
    height: 20%;
    transform: rotate(0deg);
  }
}
.disappear {
  opacity: 0;
  transition: 2s;
}
#menu {
  width: 100%;
  height: 100%;
  z-index: -2;
}
#menuLogo {
  background-color: brown;
  border: solid black 2px;
  width: 40%;
  height: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  z-index: -1;
}
#menuPlay {
  background-color: brown;
  border: solid black 2px;
  width: 20%;
  height: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  text-align: center;
  overflow: hidden;
  z-index: -1;
}
#menuPlay:hover {
  background-color: rgb(139, 23, 23);
  cursor: pointer;
}
#menuCustom {
  background-color: brown;
  border: solid black 2px;
  width: 20%;
  height: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  text-align: center;
  overflow: hidden;
  z-index: -1;
}
#menuCustom:hover {
  background-color: rgb(139, 23, 23);
  cursor: pointer;
}
#custom {
  font-size: 60px;
  height: 100%;
  width: 100%;
}
#customWidth {
  background-color: gray;
  width: 50%;
  height: 10%;
}
#customHeight {
  background-color: gray;
  width: 50%;
  height: 10%;
  position: absolute;
  top: 20%;
}
#customSeed {
  background-color: gray;
  width: 50%;
  height: 10%;
  position: absolute;
  top: 40%;
}
#customOkey {
  position: absolute;
  top: 60%;
  background-color: brown;
  border: 1px solid black;
}
#customOkey:hover {
  background-color: rgb(145, 28, 28);
  cursor: pointer;
}
#customWidthValue {
  width: 100%;
  height: 100%;
  font-size: 60px;
}
#customHeightValue {
  width: 100%;
  height: 100%;
  font-size: 60px;
}
#customSeedValue {
  width: 100%;
  height: 100%;
  font-size: 60px;
}

#winningScreen {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 60%;
  background-color: rgba(228, 174, 28, 0.7);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

#winningOkey {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(165, 42, 42, 0.9);
  border-left: solid black 2px;
  border-top: solid black 2px;
}
#winningOkey:hover {
  background-color: rgb(145, 28, 28, 0.9);
  cursor: pointer;
}

#winningSeed {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(165, 42, 42, 0.9);
  border-right: solid black 2px;
  border-top: solid black 2px;
}
#winningSeed:hover {
  background-color: rgb(145, 28, 28, 0.9);
  cursor: pointer;
}

#missionScreen {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 100%;
  background-color: rgb(165, 42, 42);
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}
.missionSelect {
  margin-top: 1%;
  background-color: rgb(133, 23, 23);
  border: 2px solid black;
  text-align: center;
  font-size: 1000%;
}
.missionSelect:hover {
  background-color: rgb(107, 13, 13);
  cursor: pointer;
}

#missionBack {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("./images/back.png");
  background-size: 90%, 90%;
  background-position: center;
  background-repeat: no-repeat;
}
#missionBack:hover {
  cursor: pointer;
}
#customBack {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("./images/back.png");
  background-size: 90%, 90%;
  background-position: center;
  background-repeat: no-repeat;
}
#customBack:hover {
  cursor: pointer;
}
#gameBack {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("./images/back.png");
  background-size: 90%, 90%;
  background-position: center;
  background-repeat: no-repeat;
}
#gameBack:hover {
  cursor: pointer;
}
